/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --st-grey-background: rgb(235, 235, 235);
}



body {
    background-color: var(--st-grey-background);
}

header {
    background-color: white;
    font-size: 5vh;
    padding:24px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    margin: 0px 80px;
}

#addBook{
    border-style: none;
    border-radius: 24px;
    font-size: 5vh;
    padding: 8px 16px;
    width: fit-content;
    background-color: white;
}

#addBook:hover{
    background-color: var(--st-grey-background);
}

#container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    font-size: 2rem;
    box-shadow: 0 0 0 100vh rgba(0,0,0,.4);
}

form input{
    height: 10%;
    font-size: 1rem;
    border-radius: 8px;
    border-style: none;
    background-color: var(--st-grey-background);
    text-indent: 10px;
    
}

#readBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

input#formRead{
    height: 20px;
    width: 20px;
    margin-left: 16px;
}